MONGODB_URL=mongodb+srv://Linux:<your-password>@<cluster-hostname>.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=jobapply
SECRET_KEY=change-this-to-a-random-string-in-production
OPENAI_API_KEY=sk-your-openai-key-here
REDIS_URL=redis://localhost:6379
ENVIRONMENT=development